@font-face {
  font-family: 'webfont';
  src: url('src/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'webfont-thin';
  src: url('src/fonts/Roboto-Thin.ttf');
  font-weight: normal;
}

* {
    /*background-color: #fdf9f2;*/
    background-color: #FFFAF0;
}

#home {
  text-align: left;
  font-family: "webfont";
}

#name {
  color: black;
  text-align: center;
  font-family: "webfont-thin";
  font-size: 30px;
  padding-top: 100px;
}

.main {
  padding: 60px;
  text-align: center;
}

p {
  font-family: "webfont";
  font-size: 15px;
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  color: grey !important;
}

a:visited {
  color: black;
}

.headers {
  text-align: center;
}


}
